.previewGallery{
    overflow: hidden;
    width: 498px;
    height: 115px;
    position: relative;
    &Track{
        position: relative;
        white-space: nowrap;
        display: flex;
        left: 164px;
        transition: transform 0.5s ease-out;
    }
    &Preview{
        min-width: 155px;
        margin: 5px;
        display: inline-block;
        height: 90px;
        background: #97a9b2;
        border-radius: 5px;
        overflow: hidden;
    }
    &Image{
        object-fit: cover;
        width: 100%;
        height: 100%;
        display: block;
    }
    &Cover{
        height: 100%;
        position: absolute;
        z-index: 2;
        width: 164px;
        background-color: rgba(255,255,255,0.7);
        left:50%;
        top: 0;
        transform: translate(-50%,0);
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        font: 24px/1 Georgia;
    }
}
